extends layout 
 
block content 
  h1(class='g')= title 
 
  form(id='AnimalForm', action="/resource/animals", method="POST") 
    div.form-group 
        label.animalA(for='animalName') Animal Name
        input#animalName(type='text', name='animalName') 
    div.form-group 
        label.animalA(for='animalWeight') Animal Weight 
        input#animalWeight(type='number', name='animalWeight') 
    div.form-group 
        label.animalA(for='animalType') Animal Type
        input#animalWeight(type='text', name='animalType') 
    input(type="submit") 
 
  script. 
    document.forms['AnimalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });